.project
.settings/
atrack-api/.classpath
atrack-api/.project
atrack-api/.settings/
atrack-api/target/
atrack-server/.classpath
atrack-server/.project
atrack-server/.settings/
atrack-server/target/
atrack-services/.project
atrack-services/.settings/
atrack-services/spring/.classpath
atrack-services/spring/.project
atrack-services/spring/.settings/
atrack-services/spring/target/
atrack-shared/.classpath
atrack-shared/.project
atrack-shared/.settings/
atrack-shared/target/